body {
    font-family: Verdana, 
    sans-serif; 
    margin:0;
    background-color: #4d148c;
}

nav {
    padding: 10px 0px 10px 40px;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

.nav {
    display: inline-block;
}

img {
    padding: 20px 5px 6px 25px;
    display: inline-block;
}

h1 {
    color: pink;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline-block;
}

.table {
    margin: auto;
    color: pink;
}

table {
    margin: auto;
}

.table table, tr, td, th {
    border:0px solid transparent;
    border-collapse: collapse;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}

.image {
    margin: auto;
}

.image {
    width: 90%
}




@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}